<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134742593480-n19jjo3nrcc4kn107mgrl8nb93vpcu7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134742593480-n19jjo3nrcc4kn107mgrl8nb93vpcu7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134742593480-ele2ua2pjsc8f6e5e1d188l52llao6fu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHMa6-Gcf-j-vIu8EbL7qI5T9Xu1_ORg0</string>
	<key>GCM_SENDER_ID</key>
	<string>134742593480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glare.glaregroup</string>
	<key>PROJECT_ID</key>
	<string>glaregroup-ceb36</string>
	<key>STORAGE_BUCKET</key>
	<string>glaregroup-ceb36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134742593480:ios:d6eb57bcc9bf53f3bcbafd</string>
</dict>
</plist>